/* Import tokens */
@import '../tokens/utils/tokenUtils';

/* Стили анимации для bottom sheet */
.bottom-sheet-overlay {
  transition-property: opacity;
  transition-duration: $BOTTOM_SHEET_OVERLAY_ENTER_DURATION;
  transition-timing-function: $BOTTOM_SHEET_OVERLAY_ENTER_EASING;
}

.bottom-sheet {
  transition-property: transform;
  transition-duration: $BOTTOM_SHEET_ENTER_DURATION;
  transition-timing-function: $BOTTOM_ENTER_EASING;
}

/* Стили для анимации скрытия */
.bottom-sheet-exit-active .bottom-sheet-overlay {
  transition-duration: $BOTTOM_SHEET_OVERLAY_EXIT_DURATION;
  transition-timing-function: $BOTTOM_SHEET_OVERLAY_EXIT_EASING;
}

.bottom-sheet-exit-active .bottom-sheet {
  transition-duration: $BOTTOM_SHEET_EXIT_DURATION;
  transition-timing-function: $BOTTOM_EXIT_EASING;
} 